
<!-- <router-outlet></router-outlet> -->
<!-- <app-accordion></app-accordion> -->
<!-- <app-card></app-card> -->
<!-- <app-carousel></app-carousel> -->
<!-- <app-close-button></app-close-button> -->
<!-- <app-dropdowns></app-dropdowns> -->
<!-- <app-list-group></app-list-group> -->
<!-- <app-model></app-model> -->
<!-- <app-navs-and-tabs></app-navs-and-tabs> -->
<!-- <app-navbar></app-navbar> -->
<!-- <app-offcanvas></app-offcanvas> -->
<!-- <app-pagination></app-pagination> -->
<app-popovers></app-popovers>